body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
  }

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increase padding for a larger box */
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333;
}

.questionelement {
    margin-top: 20px;
}

#index {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

#question {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.answerelement {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.answer-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #0056b3;
}

#nxt {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#skp {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nxt:hover {
    background-color: #218838;
}
#skp:hover {
    background-color: #218838;
}

.score{
    margin-top: 20px;
    color: #333;
    /* display: none; */
}
.reset{
    display: none;
}